<html>
<head>
	<title>Tracking table and return policy</title>
</head>
<body>
<p>
	<img src="cid:logo.gif" style="text-align: center;">
</p>
Hi {{customer}},
<p>Thanks for shopping with us.</p>
<p>We are pleased to inform you that your order <b>{{order}}</b> has been delivered.<br>
You can now track your shipment now. Your shipment tracking id is <i>{{tracking_id}}</i>.</p>
<strong>Our return and refund policy</strong>
<p>We have an awesome return policy. If still you've some questions, please talk to us at customercare@--------.com.</p>
<p>&copy; 2015 -------- India Pvt. Ltd. All rights reserved.</p>
</body>
</htm>
